body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBFBFB;
    margin: 0;
}

#root {
    box-sizing: border-box;
    width: 300px;
    color: #555;
    font-size: 14px;
}

input[type=text] {
    appearance: none;
    border: 1px solid #D1D1D1;
    padding: 6px 10px;
    border-radius: 4px;
    box-shadow: none;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    max-width: 280px;
    font-size: 15px;
    height: 38px;
    margin-bottom: 10px;
}

.button {
    border: none;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    background-color: #4476FF;
    box-shadow: 0 5px 15px rgba(68, 118, 255, 0.45);
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1A53F0;
}

.button_cancel {
    background-color: #FF4468;
    box-shadow: 0 5px 15px rgba(255, 68, 104, 0.51);
}

.button_cancel:hover {
    background-color: #DD3A5E;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container button {
    margin: 0 5px;
}

.main {
    box-sizing: border-box;
    padding: 15px 12px 25px;
}

.statusbar {
    padding: 13px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #F0F0F0;
}

.statusbar__settings {
    height: 16px;
    cursor: pointer;
}

.statusbar__status {
    margin: 0;
}

.video-caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-select {
    padding: 0;
}

.container-select li {
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.container-select li:hover {
    background-color: #bbb;
    color: white;
}

.session {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 5px 0 20px;
}
